body{
    margin: 0px;
    font-family: Robot; 
    background-color: #009ddb;
    font-style: italic;
}
header{
    display: flex;
    justify-content: center;
}
main{
    background: #f5f4f4;
    padding: 60px;  
    margin-top: 60px;
}
footer{
    background: #eee;
    padding: 60px;   
}
h1{
    margin: 40px auto;
    color: white;
    text-align: center;
}
h3{
    font-style: normal;
}
input{
    padding: 6px;
    border: 1px solid black;
    border-radius: 10px;
}
section{
    margin-left: 50px;
    margin-bottom: 50px;
}
span.Result{
    margin-left: 15px;
    font-family: ink free;
    font-weight: bolder;
}
button, .button{
    color: white;
    border: 0;
    min-width: 80px;
    border-radius: 10px;
    position: static;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #009ddb;
    border: none;
    box-shadow: 0 9px #999;
}
.button{
    padding: 5px 10px;
    font-size: 20px;
}
button:hover, .button:hover{
    color: black;
    background: #03c7f8;
}
button:active, .button:active{
    background-color: #03c7f8;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.Sticky_Button{
    background-color: #03c7f8;
    color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.submission{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.Submit_Button_Disabled{
    text-decoration: line-through;
}
.Score_Result{
    font-size: 2em;
}
.Section_2, .Section_3, .Section_4{
    border-top: 2px solid black;
}
.Section_123_Border_False{
    border: 2px solid red;
    border-radius: 10px;
}
.Section_123_Border_True{
    border: 2px solid #00b30f;
    border-radius: 10px;
}
.Section_1_False, .Section_2_False, .Section_3_False{
    color: red;
}
.Section_1_True, .Section_2_True, .Section_3_True{
    color: #00b30f;
}
.Section_4_False, .Section_4_False:hover{
    color: white;
    background-color: red;
}
.Section_4_True, .Section_4_True:hover{
    color: white;
    background-color: #00b30f;
}
.Hidden{
    display: none;
}
.Star{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}